<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1> Welcome admin to your home </h1>
    <p> The date today is {{.Date}} </p>
    <p> Now, it is {{.Time}} </p>
</body>
</html>