<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Welcome, {{.Name}}</h2>
    <p>Email: {{.Email}}</p>
    <p>You can reach me on: {{.Phone}}</p>
</body>
</html>